<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converter</title>

</head>

<body>

    <div style="margin:5vh 20vw; ">
        {% if not currency_volume %}
        <div><a href="api/currency-rate">API</a></div>
        {% endif %}

        <h1>Конвертер валют</h1>
        {% if not currency_volume %}

        <h4>Курс обмена на дату: {{date_rate}}</h4>

        <table width="200 px">
            <th>Валюта</th>
            <th>Курс, руб.</th>
            {% for i in currency_list %}
            {% if i.currency != 'RUB' %}

            <tr>
                <td>{{i.currency}}</td>
                <td>{{i.rate|floatformat:3}}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        {% endif %}
        <div>
            Сумма в валюте: {{data}} у.е.
            {% include 'form.html' %}
            {% if currency_volume %}
            {{data}} у.е. в рублях по курсу на дату: {{date_rate}}
            <table width="200 px">
                <th>Валюта</th>
                <th>Руб.</th>
                {% for i in currency_volume %}
                {% if i.currency != 'RUB' %}
                <tr>
                    <td>{{i.currency}}</td>
                    <td> {% widthratio i.rate 1 data %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
            <h4><a href="{% url 'current_list' %}">Курсы валют</a></h4>

            {% endif %}
        </div>

    </div>

</body>

</html>